<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <meta name="generator" content={Astro.generator} />
    <title>{"Debug &bull; Team SMP"}</title>
  </head>
  <body>
    {"Team SMP ".repeat(1000)}<br />
    {"JunglTemple ".repeat(1000)}<br />
    {"XxDreamXxXx ".repeat(1000)}<br />
    {"Geraldo ".repeat(1000)}
  </body>
</html>
