@import "tailwindcss";

@font-face {
  font-family: "Minecraft";
  src: url("/font/Minecraft.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Minecraft";
  src: url("/font/Minecraft-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: "Minecraft", sans-serif;
}
