---
import MainBox from "../components/MainBox.astro";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import wordmark from "../assets/tsmp-title.png";
import Headline from "../components/Headline.astro";

function link(name: string, href: string, target: string = "_self") {
  return { name, href, target };
}

const links = [
  link("About", "/about"),
  link("Join", "/join"),
  link("News", "/news"),
  link("Discord", "https://discord.gg/sGGqR2wDyg", "_blank"),
  link("YouTube", "https://youtube.com/@teamsmp-server", "_blank"),
  link("GitHub", "https://github.com/teamsmp", "_blank"),
];
---

<Layout title="Home • Team SMP">
  <MainBox>
    <div class="flex w-full flex-row justify-center">
      <Image src={wordmark} alt="Team SMP wordmark" class="h-24 w-auto" />
    </div>
    <div class="my-1 w-full text-center text-xs tracking-wider text-zinc-400">
      UNITE, SURVIVE, THRIVE!
    </div>
    <div class="mb-2 flex w-full flex-col text-xl leading-5">
      <span
        >&gt; <a href="/" class="transition-colors hover:text-emerald-400"
          ><b>Home</b></a
        ></span
      >
      {
        links.map(({ name, href, target }) => (
          <span>
            &gt;{" "}
            <a
              href={href}
              target={target}
              class="transition-colors hover:text-emerald-400"
            >
              {name}
              {target == "_blank" ? " ↗" : ""}
            </a>
          </span>
        ))
      }
    </div>
    <div>
      <Headline server:defer>
        <a class="block overflow-hidden" href="news" slot="fallback">
          <div class="flex w-full flex-row gap-2 text-nowrap">
            <span class="font-bold">News</span>
            <span class="text-zinc-300">Loading...</span>
          </div>
        </a>
      </Headline>
    </div>
  </MainBox>
</Layout>
