---
const anim = {
  old: {
    name: "boxout",
    duration: "0.1s",
    easing: "ease-in",
  },
  new: {
    name: "boxin",
    duration: "0.1s",
    easing: "ease-out",
  },
};

const box = {
  forwards: anim,
  backwards: anim,
};
---

<div class="grid h-screen w-screen items-center sm:place-items-center">
  <div
    class="mx-6 max-h-10/12 overflow-y-auto border border-zinc-400 p-4 text-white backdrop-blur-xs backdrop-brightness-50 sm:w-sm"
    transition:name="mainbox"
    transition:animate={box}
  >
    <div>
      <slot />
    </div>
  </div>
  <div
    class="absolute bottom-2 flex flex-col place-self-center text-center text-sm text-balance text-white"
  >
    <span>&copy; Team SMP {new Date().getFullYear()}</span>
    <span
      >This website is open-source and <a
        href="https://github.com/teamsmp/cadmium"
        class="underline">avaiable on GitHub</a
      >.</span
    >
  </div>
</div>

<!-- transition:name="mainbox" transition:animate="slide" -->
