---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ?? "Team SMP"}</title>
    <link
      rel="preload"
      href="/font/Minecraft.otf"
      as="font"
      type="font/otf"
      crossorigin
    />
    <link
      rel="preload"
      href="/font/Minecraft-Bold.otf"
      as="font"
      type="font/otf"
      crossorigin
    />
    <ClientRouter />
  </head>
  <body class="bg-[url(../assets/lobby.png)] bg-cover bg-center">
    <!-- <div id="bar" class="fixed top-0 left-0 bg-white h-4 transition-all"></div> -->
    <slot />
  </body>
</html>

<style is:global>
  @keyframes boxin {
    0% {
      opacity: 0;
      transform: scale(0.8) translateY(30px);
    }
    100% {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
  }

  @keyframes boxout {
    0% {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
    100% {
      opacity: 0;
      transform: scale(0.8) translateY(-20px);
    }
  }
</style>

<!-- <script is:inline>
	document.addEventListener("astro:before-preparation", (event) => {
		const originalLoader = event.loader
		event.loader = async function () {
			const bar = document.getElementById("bar")
			bar.style.opacity = "1";
			bar.style.width = "0px"
			let interval = setInterval(() => {
				bar.style.width += 1
			}, 10)
			await originalLoader()
			clearInterval(interval)
			bar.style.width = "1vw";
			bar.style.opacity = "0";
			bar.style.width = "0px"
		}
	})
</script> -->
